# Homework 0

In this homework you will complete a couple of simple exercises in order to show your understanding with Python. If these exercises are challenging or new to you, you may want to reconsider taking the class and/or brush up on your Python skills. For the following exercises you are not allowed to use any Python packages (i.e. Numpy, Pandas, etc.).

### Lists

Create an empty Python list called 'a' in the cell below.

In [17]:
a = []

Store all values between 1-100 (inclusive) with increments of 3 (i.e. 1, 4, 7...) in 'a'.

In [18]:
for i in range(1,101,3):
    a.append(i)

Create another list called 'a2' with numbers from 2-46 (inclusive) with increments of 0.5 (i.e. 2, 2.5, 3...).

In [19]:
a2 = []
i = 2
while i <= 46:
    a2.append(i)
    i += 0.5

Double every even integer element from list 'a'. Store the results back in 'a'.

In [20]:
for i in range(len(a)):
    if a[i] %2 == 0:
        a[i] = a[i] * 2
print(a)

[1, 8, 7, 20, 13, 32, 19, 44, 25, 56, 31, 68, 37, 80, 43, 92, 49, 104, 55, 116, 61, 128, 67, 140, 73, 152, 79, 164, 85, 176, 91, 188, 97, 200]

Add all numbers in 'a' except for the 2nd and 21st elements (the 2nd element here means the element at list index 1).

In [25]:
total = 0
for i in range(len(a)):
    if i == 1 or i == 20:
        next
    total = total + a[i]

print(total)

2601

Calculate the mean of 'a'.

In [26]:
average = sum(a)/(len(a))

76.5

### Strings

Create an empty list called 'b'.

In [63]:
b = []

Store the words in the sentence below as elements into the list 'b'.  

'I am so excited about Data-X. It is important to be able to work with data.'

In [64]:
string = 'I am so excited about Data-X. It is important to be able to work with data.'
words = string.split(" ")
for w in words:
    if "." in w:
        w = w.replace(".","")
    b.append(w)
print(b)

['I', 'am', 'so', 'excited', 'about', 'Data-X', 'It', 'is', 'important', 'to', 'be', 'able', 'to', 'work', 'with', 'data']

Return the count of the occurences of the lower-case letter 'e' in the list 'b'.

In [65]:
count = 0
for w in b:
    for c in w:
        if c == "e":
            count += 1
print(count)

4

Replace every lower- or upper-case letter 'i' in the list b with a '1'.

In [66]:
b = [w.replace('i',"1") for w in b]

Append the string "This is the end of the first HW." to the list 'b'.

In [69]:
b.append("This is the end of the first HW")

Print 'b' as ONE string backwards (starting with "WH tsrif...").

In [70]:
result = ""
helper = b[::-1]
for w in helper:
    element = w[::-1]
    result += element
print(result)

WH tsrif eht fo dne eht si sihT.WH tsrif eht fo dne eht si sihTatadht1wkrowotelbaebottnatropm1s1tIX-ataDtuobadet1cxeosmaI

### Dictionaries

Put the following in a dictionary called 'codes':

Keys: 1001, 1002, 1003, 1004, 1005   
Values: 'Alpha', Beta, 'Gamma, 'Delta', 'Tau'

then traverse the dictionary by its keys and change every value to be all lower case.

In [79]:
codes = {1001:"Alpha", 1002:"Beta", 1003:"Gamma", 1004:"Delta", 1005:"Tau"}
for k in codes.keys():
    codes[k] = codes[k].lower()
print(codes)

{1001: 'alpha', 1002: 'beta', 1003: 'gamma', 1004: 'delta', 1005: 'tau'}

Delete 'alpha' from the dictionary.

In [80]:
for k in codes.keys():
    if codes[k] == "alpha":
       del codes[k]
       break
print(codes)

{1002: 'beta', 1003: 'gamma', 1004: 'delta', 1005: 'tau'}

### Sets

Create a set called 'c' with the all the odd numbers less than 10.

In [82]:
c = set([i for i in range(10) if i %2 == 1])

Create another set called 'd' with elements 2, 5, 10, 30.

In [84]:
d = set([2,5,10,30])

{2, 10, 5, 30}

Find the union between sets 'c' and 'd' and store this in a new set called 'e'.

In [86]:
e = c|d

{1, 2, 3, 5, 7, 9, 10, 30}

Find the intersection between sets 'c' and 'd'.

In [88]:
intersection = c&d

{5}